body {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  max-width: 400px;
  margin-bottom: 10px;
}

div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

label {
  margin: 5px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

input {
  border: none;
  background: #ddd;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px;
  border: none;
  background: #666;
  color: white;
}

p {
  font-family: monospace;
  text-align: center;
  font-size: 12px;
}