body {
  margin: 0;
}
main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.art {
  display: flex;
  flex-direction: column;
}

.controls {
  margin-right: 10px;
}

canvas {
  max-width: 400px;
  margin-bottom: 10px;
}

div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

label {
  margin: 5px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

input {
  border: none;
  background: #ddd;
  padding: 5px;
}

button:first-of-type {
  margin-bottom: 10px;
}

p {
  font-family: monospace;
  text-align: center;
  font-size: 12px;
}

@media 
  (max-device-width: 400px) {
    main {
      display: flex;
      flex-direction: column;      
      justify-content: flex-start;
    }   
    .controls {
      margin: 0;
    }
}